.login form{
    max-width: 600px;
    margin: auto;
    border: 1px solid black;
    padding: 15px;
}
.login form input{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;

}