.mainNav ul {
	display: inline-block;
}
.mainNav ul li {
	padding: 0px 10px;
    text-transform: uppercase;
    list-style-type: none;
    /* text-decoration: none; */
}
.mainNav ul li a {
	text-decoration: none;
 
}
.mainNav ul li a:hover {
	
    color: rgb(88, 75, 207);
}
