.post {
	display: flex;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px 0;
}
.post > * {
	padding: 5px;
}
.post .avatar img {
	height: 50px;
	border-radius: 50%;
}
.post .postData {
	width: 100%;
}
.post .postData .postMeta {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	justify-content: space-between;
}
.post .postData .postMeta .author {
	font-weight: 800;
}
.post .postData .postContent {
	text-align: left;
	padding: 5px;
}
.post .likes {
	text-align: right;
}
