.App {
  text-align: center;
}

a {
  color: black;
}
.btn {
  background-color: rgb(115, 206, 176);
  border-radius: 20px;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  box-shadow: 20px,20px;
}
